<!DOCTYPE html>
<html>
<head>
    <title>Word Bomb</title>
</head>
<body>
    <h1>Word Bomb</h1>

    <form action="/create_room" method="POST">
        <input type="text" name="username" placeholder="Your name" required>
        <button>Create Room</button>
    </form>

    <form action="/join_room" method="POST">
        <input type="text" name="username" placeholder="Your name" required>
        <input type="text" name="room_code" placeholder="Room Code" required>
        <button>Join Room</button>
    </form>

</body>
</html>